.perfil{
    position: absolute;
    top: 810px;
    left: 700px;
    height: 300px;
    width: 640px;
}

.perfil_recuadro{
    position: relative;
    background-color: #D3D9EC;
    left: 5px;
    height: 50px;
    width: 620px;
}

.perfil_titulo{
    position: relative;
    font-size: 20px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    height: 100%;
}

.perfil_parrafo{
    position: relative;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}